body {
  display: flex;
  flex-direction: column;
  flex: 1
}

.container1 {
 display: flex;
 flex-direction: column;
 background: rgb(14, 24, 48);
}

.container1-body {
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
}

.container2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container2-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}